*.orig
*.la
*.lo
*.o
*~
*.swp
*.gcno
*.patch
man/*.pre
man/*.1
.deps/
.libs/
INSTALL
COPYING
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
stamp-h1
depcomp
install-sh
libtool
ltmain.sh
missing
m4/
core
core.*
compile
\#*\#
